@model AdiutorBootstrap.Models.KorisnickiPanelModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/KorisnickiPanelStilovi.css")


<div id="korisnik" class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
    @*ovaj div ce da sluzi za smestanje profilne slike*@
    <form method="post" action="@Url.Action("IzmeniPodatkeZahtev","Home")">
        <div id="profilnaSlika" class="col-lg-6 col-md-3 col-sm-3 col-xs-6">
            <img src=@Model.Korisnik.Slika class="img-thumbnail" />
            @Html.HiddenFor(m => m.Korisnik.Slika, new { })
            @if(ViewBag.Izmena!=true && (int)Session["Id"]==@Model.Korisnik.Id) 
            {
                <button id="izmeniPodatkeBtn" type="submit" class="btn btn-danger">Izmeni podatke</button>
            }
            else
            {
                
            }
           </div>
    </form>

@if (ViewBag.Izmena != true) 
{ 
    <div id="opisi" class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
        <label>Ime: &nbsp;  </label>@Html.DisplayTextFor(m=>m.Korisnik.Ime)<br />
        <label>Prezime: &nbsp; </label>@Html.DisplayTextFor(m=> m.Korisnik.Prezime)<br />
        <label>Korisničko ime: &nbsp; </label>@Html.DisplayTextFor(m=> m.Korisnik.Username)<br />
        <label>Broj indeksa:&nbsp;  </label>@Html.DisplayTextFor(m=> m.Korisnik.BrojIndeksa)<br />
        <label>Smer:&nbsp;  </label>@Html.DisplayTextFor(m=> m.Korisnik.Smer) <br />
        <label>Opis:&nbsp;  </label><div class="opisKorisnika">@Html.DisplayTextFor(m=> m.Korisnik.Opis)</div>
        <label>E-mail adresa:&nbsp; </label>@Html.DisplayTextFor(m=> m.Korisnik.Email)<br />
    </div>

}
else if (ViewBag.Izmena == true)
{    <form method="post" action="@Url.Action("IzmeniPodatke","Home")">
      <div id="opisi" class="col-lg-6 col-md-7 col-sm-4 col-xs-4">
        <label>Ime: &nbsp;  </label>@Html.TextBoxFor(m => m.Korisnik.Ime, new { @class = "form-control", @name = "Ime" })<br />
        <label>Prezime: &nbsp; </label>@Html.TextBoxFor(m => m.Korisnik.Prezime, new { @class = "form-control", @name = "Prezime" })<br />
        <label>Korisničko ime: &nbsp; </label><br />
        <label>Broj indeksa:&nbsp;  </label>@Html.TextBoxFor(m => m.Korisnik.BrojIndeksa, new { @class = "form-control", @name = "BrojIndeksa" })<br />
        <label>Smer:&nbsp;  </label>@Html.TextBoxFor(m => m.Korisnik.Smer, new { @class = "form-control", @name = "Smer" }) <br />
        <label>Opis:&nbsp;  </label>@Html.TextAreaFor(m => m.Korisnik.Opis, new { @class = "form-control", @name = "Opis" })
        <label>E-mail adresa:&nbsp; </label>@Html.TextBoxFor(m => m.Korisnik.Email, new { @class = "form-control", @name = "E-mail" })<br />
       

               <div>
                   Aploudujte svoju profilnu fotografiju na besplatan servis  za hosting nazvan <a href="http://www.postimg.org">Postimg</a> i zatim postavite direktni link u tekstualnoj kutiji ispod ovog teksta.
               </div>
               @Html.TextBoxFor(m => m.Korisnik.Slika, new { @class = "form-control", @name = "Slika" })
          <button id="izmeni" type="submit" class="btn btn-danger">Izmeni</button>
          <br />
          </div>
       
        </form>
}   

</div>



<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 forma-za-pretrazivanje-i-navigaciju">
    
    @if ((int)Session["Id"] == @Model.Korisnik.Id)
    { 
        <form method="post" action="@Url.Action("","")">
            <div id="grupa">
                <b>Pretraži portal:</b><input id="traziInput" name="Pretrazi" type="text" size="25" class="form-control" />
            </div>
            <br />
            <br />
             <div>
                 <a id="dugmePredmet" href="@Url.Action("Odabir_predmeta","Odabir_predmeta")" class="btn btn-success">Odaberi ručno predmete koji te interesuju</a>
             </div> 
        </form>
    }
    
    <form>
      
            <fieldset>
                <legend>Postavljena pitanja:</legend>
                <ul>
                    @foreach (var pitanje in @Model.Pitanja)
                    {   
                        
                        <li id="postavljenaPitanja">
                            <div id="pitanjeSaTagovima">
                                <div id="tekstPitanja">
                                    @Html.ActionLink(@pitanje.Text.Substring(0, 8), "PitanjeIOdgovori1", "PitanjeIOdgovori", new { idPitanja = pitanje.Id }, null)
                                 </div>
                                 <div id="tagoviKontejner">
                                     @foreach (var tag in pitanje.Tagovi)
                                     {
                                       @Html.ActionLink("#"+@tag.TagIme+ " | ", "PitanjeIOdgovori1", "PitanjeIOdgovori", new { idTaga = tag.TagID }, null)
                                       
                                     }
                                     
                                 </div>
                            </div>
                        </li>
                    }
                </ul>
            </fieldset>

    </form>

    
</div>    

 

