@model AdiutorBootstrap.Models.PitanjaOdgovoriKomentariModel 
           @*treba da ubacim u ovaj PitanjaIKOmentariMdel jos jedan model za oblast, da bih mogao da vratim rezutlate
               pretrazivanja po prva dva taga*@

@{
    ViewBag.Title = "PitanjeIOdgovori";
}

@Styles.Render("~/Content/PitanjaIOdgovoriStilovi.css")
@Scripts.Render("//cdn.ckeditor.com/4.5.9/standard/ckeditor.js")

@{
    bool dodajKomentar = false;
}
<form action="@Url.Action("PostaviOdgovor", "PitanjeIOdgovori", new {pitanjeId=@Model.Pitanje.Id})" method="post">
    <div id="pozadina">
        <div id="pitanjeIautor" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            @*<div id="informacije">
                    <div id="slika" class="col-lg-3 col-md-3">
                        <img id="slikaKorisnika" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13232944_10209153813620640_8681434930084924708_n.jpg?oh=f388a66ec528253460eb85f5df839faa&oe=57E11FC3" />
                    </div>
                    <div id="imeAutora" class="col-lg-3 col-md-3">
                        neko ime
                    </div>
                </div>
                <hr />*@
            @*<div class="kartica">
                    <div class="tekst_pitanja">

                        <div class="autor_vreme_container">
                            <div class="vremeIdatum">24.5.2016. | 13:55 </div>
                            <div class="imeAutora"><a href="#">Milos Mladenovic</a></div>
                        </div>

                        <div class="tekst">
                            <p>Šta se dešava kada nakon case u switch-case strukturi u C-u izostavim break?</p>
                        </div>

                        <div class="tagovi_container">
                            <div class="tagovi">
                                <a href="#">#neki</a>
                            </div>

                        </div>
                    </div>

                    <div class="dodatni_atributi">

                        <div class="brOdgovora_container">
                            <div class="broj">

                            </div>
                        </div>

                    </div>
                </div>*@
            <table id="pitanje" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <tr id="informacijeOpitanju">
                    <td id="profilnaSl">
                        @*ovde ide profilna slika*@

                        <div class="image-container img-rounded">
                            @*<img id="slikaKorisnikaa"  src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13232944_10209153813620640_8681434930084924708_n.jpg?oh=f388a66ec528253460eb85f5df839faa&oe=57E11FC3" />*@
                        </div>
                    </td>
                    <td id="imeAutora" style="text-align:center">
                        @Html.ActionLink(@Model.Pitanje.AutorPitanja, "KlikNaKorisnika", "KorisnickiPanel", new { korisnikId = @Model.Pitanje.AutorId }, null)

                    </td>
                    <td id="vreme" style="text-align:center">
                        @Html.DisplayTextFor(m => m.Pitanje.DatumVreme)
                    </td>
                    <td id="nazivOblasti" style="text-align:center">
                        @Html.ActionLink(@Model.Pitanje.Oblast, "KlikNaLink", new { idOblasti = @Model.Pitanje.OblastId })
                    </td>

                </tr>
                <tr id="naslov-pitanja" style="text-align:center">
                    <td id="samNaslov" colspan="4">
                        <h2>  @Html.DisplayTextFor(m => m.Pitanje.NaslovPitanja)</h2>
                    </td>
                </tr>
                <tr id="tekst-pitanja" style="text-align:center">
                    <td id="samTekst" colspan="4">
                        @* "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."*@
                        @Html.DisplayTextFor(m => m.Pitanje.Text)
                    </td>
                </tr>
                <tr id="kontejnerTagova" style="text-align:center">
                    <td colspan="4" id="tagovi">
                        @foreach (var tag in @Model.Pitanje.Tagovi)
                        {
                            @Html.ActionLink("#" + tag.Ime + "    ", "TrazenjePoTagu", "Oblasti", new { tagovi = "#" + tag.TagIme }, null)
                        }
                    </td>
                </tr>


            </table>


        </div>

        <div id="grupisano" class="col-lg-10 col-md-10">
            <div id="pitanja" class="col-lg-4 col-md-4 col-sm-9 col-xs-10">
                <fieldset>
                    <legend>Slična postavljena pitanja:</legend>
                    <ul>
                        @foreach (var pit in @Model.SlicnaPitanja)
                        {
                            <li id="postavljenaPitanja">
                                <div id="pitanjeSaTagovima">
                                    <div id="tekstPitanja">
                                        @Html.ActionLink(@pit.NaslovPitanja, "PitanjeIOdgovori1", "PitanjeIOdgovori", new { @id = "link", idPitanja = pit.Id }, new { @id = "link" })
                                    </div>
                                    <div id="tagoviKontejner">
                                        @foreach (var tag in pit.Tagovi)
                                        {
                                            @Html.ActionLink("#" + @tag.TagIme + " | ", "TrazenjePoTagu", "Oblasti", new { tagovi = "#" + tag.TagIme }, null)

                                        }

                                    </div>
                                </div>
                            </li>
                        }
                        @*ovde ce sem slicnog pitanja stajati i njegovih prvih 5 tagova*@
                    </ul>
                </fieldset>



            </div>



            <div id="odgovori" class="col-lg-6 col-md-7 col-sm-9 col-xs-10">
                @{var i = 0;}
                @foreach (var odgovor in @Model.Odgovori)
                {
                    <table id="tabelaOdgovori">
                        <tr id="informacijeOodgovorima">
                            <td id="brojOdgovora">
                                @(i + 1). odgovor
                            </td>
                            <td id="autorOdgovora">
                                @Html.ActionLink(odgovor.AutorOdgovora, "KlikNaKorisnika", "KorisnickiPanel", new { korisnikId = odgovor.AutorOdgovora }, null)
                           
                            </td>
                            <td id="vremeOdgovora">
                                @Html.DisplayTextFor(m => m.Odgovori[i].DatumVreme)
                            </td>
                        </tr>
                        <tr id="tekstOdgovora">
                            <td id="samTekstOdgovora" colspan="3">
                                <div>
                                    @Html.DisplayTextFor(m => m.Odgovori[i].Text)
                                </div>    
                           </td>
                        </tr>
                        <tr id="ocene">
                            <td id="posaljiKomentar" colspan="2">
                                <a href="Komentar?komentarisi=true&id=@(i+1)">Komentarisi</a>
                                @*<div class="dugme1">
                                        <button id="infoButton1" class="btn btn-success" data-toggle="popover" data-placement="down" title="    Dodatne informacije"
                                                data-content="Ovaj portal su napravili studenti III godine smera za Računarstvo i infomatiku, Elektronskog
                                      fakulteta u Nišu, kao studentski projekat iz predmeta Softversko inženjerstvo.">
                                            <span class="glyphicon glyphicon-info-sign"></span>  Više informacija
                                        </button>
                                    </div>*@
                            </td>
                            <td id="plusIminus">
                                <button id="buttonPlus" class="btn btn-success" name="buttonPlus">+</button>
                                @Html.DisplayTextFor(m => m.Odgovori[i].Pozitivno)
                                <button id="buttonMinus" class="btn btn-danger" name="buttonMinus">-</button>
                                @Html.DisplayTextFor(m => m.Odgovori[i].Negativno)
                            </td>
                        </tr>
                    </table>
                    i++;

                }


            </div>

        </div>

        <div class="editor col-lg-9 col-md-9 col-sm-10 col-xs-9">

            <textarea name="textarea" id="textarea"></textarea>

            <script>
                CKEDITOR.replace('textarea');
            </script>
            <br />
            <input type="hidden" name="pitanjeId" value="@Model.Pitanje.Id" />

            <button type="submit" id="upload" class="btn btn-default" onclick="myFunction()">Predaj odgovor</button>

            <script type="text/javascript">
                {
                    function myFunction() {
                       
                    }
                }
            </script>
        </div>
        </div>
</form>














  
   





    <script>
        $(document).ready(function () {
            $('.btn').popover({ title: "Nesto", content: "<input type='text'/>", html: true, placement: "right" });
        });
        $(document).get()
    </script>








    <!--<button id="buttonPlus" class="btn btn-success" name="buttonPlus">
        +
    </button>
    <button id="buttonMinus" class="btn btn-danger" name="buttonMinus">-</button>

        --> 
</div>