<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adiutor</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/Stilovi")
   <!--@Scripts.Render("~/bundles/modernizr")--> 
    
    

</head>
<body>
    <!-- Part 1: Wrap all page content here -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand imePortala">
                    <span> <img alt="Logo" height="30" src="~/Content/Images/logo.png" /></span>Adiutor
                </a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>
                        <form action="@Url.Action("TrazenjePoTagu","Oblasti")" method="post">
                            @if (Session["Id"] != null)
                            {

                  
                            <div class="inp">
                                <input list="listaTagova" id="traziInput" name="tagovi" type="text" size="18" class="kontrola form-control" onkeyup="ajaxPozivTagoviNaslovna()" placeholder="Pretraži portal" />
                                 <datalist id="listaTagova">
                                 
    
                                  </datalist>
                                 <button class="btn btn-default" id="btnsrch"><span class="glyphicon glyphicon-search"></span></button>
                             </div>

                    }
                    </form>
                </li>
                    <li class="active">@Html.ActionLink("Početna", "Pocetna", "Home")</li>
                    <li>@Html.ActionLink("O nama", "About", "Home")</li>

                    <li></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigacija<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  href="@Url.Action("Odabir_predmeta","Odabir_predmeta")">Odabir predmeta</a></li>
                           
                           
                            <li>@Html.ActionLink("Postavi novo pitanje", "NovoPitanje", "NovoPitanje", new { idOblasti = 0 }, new { })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Odjavi se","LogOut","Home")</li>
                        </ul>
                    </li>
                    <li>@if(Session["Id"]==null)
                        {@Html.ActionLink("Registracija", "Registracija", "Registracija")}</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

        <div class="container marginaLayout">
           @RenderBody()
        </div>

        <div id="push"></div>
    

    <div id="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Nazad na vrh stranice</a></p>
            <p class="f1">&copy; 2016 Milos Mladenovic, A4 &middot; <a href="Struktura.aspx"></a>&middot;</p>
        </div>
    </div>


           @Scripts.Render("~/bundles/jquery")
           @Scripts.Render("~/Scripts/Bootstrap")
           @Scripts.Render("~/Scripts/MojaSkripta")
           @RenderSection("scripts", required: false)
</body>
</html>
    





<script type="text/javascript">
    {
        function ajaxPozivTagoviNaslovna() {
            if ($('#traziInput').val()[$('#traziInput').val().length - 1] != '#' && ($('#traziInput').val().length == 2)) {
                var prvoSlovoTaga = $('#traziInput').val()[1];
                var prvoS = { PrvoSlovo: prvoSlovoTaga }

                if ($('#traziInput').val()[0] == '#') {
                    $.post("/NovoPitanje/VratiSveTagove", prvoS, function (data) {
                        $('#tagoviLista').empty();
                        $.each(data, function (index) {
                            var opcija = document.createElement("option");
                            opcija.value = "#" + data[index];

                            var roditelj = document.getElementById("listaTagova");
                            $('#listaTagova').empty();
                            roditelj.appendChild(opcija);
                        });
                    });
                }
            }


            if ($('#traziInput').val()[($('#traziInput').val().length) - 3] == ' ' && $('#traziInput').val()[$('#traziInput').val().length - 2] == '#') {
                //ako je blanko pretposlednji uneti znak, a poslednji #, znaci da kucamo sledeci tag

                var uneseniTagovi1 = $('#tagsLista').val();

                var uneseniTagovi = uneseniTagovi1.substring(0, uneseniTagovi1.length - 1);

                var prvoSlovoTaga = $('#tagsLista').val()[$('#tagsLista').val().length - 1];
                var prvoS = { PrvoSlovo: prvoSlovoTaga }

                $.post("/NovoPitanje/VratiSveTagove", prvoS, function (data) {
                    $('#tagovLista').empty();
                    $.each(data, function (index) {
                        var opcija = document.createElement("option");
                        opcija.value = uneseniTagovi + data[index];

                        var roditelj = document.getElementById("listaTagova");
                        $('#listaTagova').empty();
                        roditelj.appendChild(opcija);

                    });
                });




            }

        }


        function inputFocus(i) {
            if (i.value == i.defaultValue) { i.value = ""; i.style.color = "#000"; }
        }
        function inputBlur(i) {
            if (i.value == "") { i.value = i.defaultValue; i.style.color = "#888"; }
        }
    }
</script>
