@model AdiutorBootstrap.Models.OblastModel

@{
    ViewBag.Title = "Oblasti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/KarticeStilovi")
@Styles.Render("https://fonts.googleapis.com/css?family=Merriweather")
@Styles.Render("~/Content/OblastiStilovi.css");

<div class="biggerCon">
    <div class="literaturaContainer">
        @*<div id="literatura" class="col-lg-5 col-md-4 col-sm-6">
                <h3>Literatura:</h3>
            </div>*@
        <div class="naz"><h1 class="nazivOblasti">@Model.Naziv</h1></div>
        <ul id="listaLiterature" @*class="col-lg-5 col-md-4"*@>
            <li><a href="http://www.wikipedia.org">Wikipedia</a></li>
            @foreach (var lit in @Model.Literatura)
            {
                <li>@Html.ActionLink(lit.Naziv, lit.Link)</li>
            }
        </ul>
        
        @if (Model.ProfesorId == (int)Session["Id"])
        { 
          <div id="upl"><label class="nnt"></label><button id="upload" class="btn btn-danger" @*onclick="PredloziTag()"*@ data-toggle="modal" data-target=".bs-example-modal-sm">Dodaj</button></div>
        }
    </div>
</div>

<form>
 <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        @foreach (var pitanje in @Model.Pitanja.ListaPitanja)
        {
            <div class="kartica">
                <div class="tekst_pitanja">

                    <div class="autor_vreme_container">
                        <div class="vremeIdatum">
                            @pitanje.DatumVreme
                        </div>
                        <div class="imeAutora">@Html.ActionLink(pitanje.AutorPitanja, "KlikNaKorisnika", "KorisnickiPanel", new { korisnikId = pitanje.AutorId }, null)</div>
                    </div>

                    <div class="tekst">
                        <p>@Html.ActionLink(@pitanje.NaslovPitanja, "PitanjeIOdgovori1", "PitanjeIOdgovori", new { idPitanja = pitanje.Id }, null)</p>
                    </div>

                    <div class="tagovi_container">
                        <div class="tagovi">
                             @foreach (var tag in pitanje.Tagovi)
                             {
                               @Html.ActionLink("#" + tag.Ime + "    ", "TrazenjePoTagu", new { tagovi = "#" + tag.TagIme })   
                             }
                        </div>

                    </div>
                </div>

                <div class="dodatni_atributi">

                    <div class="brOdgovora_container">
                        <div class="broj">
                                @pitanje.BrojOdgovora
                        </div>
                    </div>

                </div>
            </div>

            <br />
        }

    </div>
   

</form>

<form method="get" action="@Url.Action("NovoPitanje", "NovoPitanje", new { idOblasti = @Model.Id },null)">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="paragraf">
                    Pitanja slična onima koja ste tražili se nalaze sa vaše leve strane, sortirana po hronološkom redosledu. Ukoliko imate da postavite
                    novo pitanje, kliknite na dugme ispod.
                </p>
            </div>
        </div>


        <div class="container postaviPitanje" >
            @*<button id="postaviNovoPitanje" type="submit" class="btn btn-primary" >Postavi novo pitanje</button>*@
            @Html.ActionLink("Postavi novo pitanje", "NovoPitanje", "NovoPitanje", new { idOblasti = @Model.Id }, new { @class = "btn btn-primary" })
        </div>


    </div>

    

</form>





<div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br />
            <div><label class="lbl">Ime literature:</label><input id="imeLiter" type="text" class="kontrole form-control" /></div>
            <div><label class="lbl">Link </label><input id="linkLiter" type="text" class="kontrole form-control" /></div>
            <button id="dugmeDodaj" class="btn btn-primary" onclick="DodajLiteraturu(@Model.Id)">Predlozi</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    function DodajLiteraturu(oblastId) {
        //ova funkcija treba da pokrene bootstrap modal
        var nazivLiter = $('#imeLiter').val();
        var linkLiter = $('#linkLiter').val();

        var literatura = { OblastId: oblastId, Naziv: nazivLiter, Link: linkLiter };

        $.post("/Oblasti/DodajLiteraturu", literatura, function (data) {
            $('#mdl').modal('hide');

            $('#listaLiterature').append("<li><a href='https://" + data.Link + "'>" + data.Naziv + "</a></li>");

        });
    }
</script>