@model AdiutorBootstrap.Models.PredmetModel

@{
    ViewBag.Title = "Predmet";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/Content/PredmetStilovi.css")


<div id="container" class="col-lg-5 col-md-6 col-sm-10 col-xs-10">
    <h1 name="nazivPredmeta" id="nazivPredmeta">@Html.DisplayTextFor(m=> m.NazivPredmeta)</h1>
    <hr />
    <div class="semestar-godina-smer">
        <h4 id="zadProfesor">Zaduženi profesor: @if (Model.PregledaProfesor == false) { 
                                                    @Html.DisplayTextFor(m => m.ZaduzeniProfesor)
                                                 }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.ZaduzeniProfesor, new { @class="form-control"})
                                                }
            </h4>
        <h4>Semestar: @Html.DisplayTextFor(m=>m.Semestar) &nbsp; |</h4>

    </div>
    <hr />
    <div class="opisPredmeta">

        <!--ovde neki opis iz modela kad se napravi--> 
        <article id="opisPredmeta">
          @if (Model.PregledaProfesor == false)
          {  
            @Model.OpisPredmeta  
          }
          else
          {
              @Html.TextAreaFor(m => m.OpisPredmeta, new {@class = "form-control", @name = "Opis" });
          } 
        </article>

        @Html.HiddenFor(m => m.Id)
        

        @if (Model.PregledaProfesor == true)
        {
             @Html.HiddenFor(m => m.Id)
            <form method="post" action="@Url.Action("IzmeniPodatkeOPredmetuZahtev","Predmet")">
                @Html.ActionLink("Izmeni podatke", "IzmeniPodatkeOPredmetuZahtev", new { predmetId = @Model.Id }, new { @class = "btn btn-success" })
            </form>
        }
    </div>
  <br />
</div>
<br />

<div id="oblastiPredmeta" class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
    <button class="btn btn-default" id="dodajOblast" @*onclick="DodajOblast()"*@ data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-plus"></span>Dodaj novu oblast</button>
    @*<div id="upl"><button id="upload" class="btn btn-danger" @*onclick="PredloziTag()"*@ @*data-toggle="modal" data-target=".bs-example-modal-sm">Predloži novi tag</button></div>*@

    <form action="@Url.Action("KlikNaLink","PitanjeIOdgovori")" method="get">
        @foreach(var oblast in Model.Oblasti)
        {
            <div id="karticaOblast" >
                <div id="nazivOblasti">
                    @Html.ActionLink(@oblast.Naziv, "KlikNaLink", "PitanjeIOdgovori", new { idOblasti = oblast.Id },null)                 
                </div>
                <article id="opisOblasti">
                    @if (true == true)
                    {     
                       @oblast.Opis
                    }
                    
                </article>
            </div>
            <br />
        }

    </form>


</div>



<script>
    {
        function DodajOblast()
        {
            if ($('#sadrzaj').length)
            {
                $('#sadrzaj').remove();
                $('#sadrzaj2').remove();
                $('#dodajBtn').remove();
            }
            else {

                $('#dodajOblast').after("<div id='sadrzaj2'></div>");
                $('#sadrzaj2').append("<label id='lblOpis'>Opis oblasti: &nbsp; </label>");
                $('#lblOpis').append("<textarea id='opisOblasti' class='form-control'></textarea>");

                $('#dodajOblast').after("<div id='sadrzaj'></div>");
                $('#sadrzaj').append("<label id='lblNaslov'>Naslov oblasti: &nbsp; </label>");
                $('#lblNaslov').append("<input type='text' id='naslovOblasti' class='form-control' size='20' />");

                $('#sadrzaj2').append("<br/>");
                $('#sadrzaj2').append("<button id='dodajBtn' onclick='DodajNovuOblast(@Model.Id)' class='btn btn-success'>Dodaj</button>");


               
               
            }

        }
        
        function DodajNovuOblast(idPredmeta)
        {
            var uneseniTagovi = $('#traziInput').val();

            var nazivOblasti = $('#naslovObl').val();
            var tekstOblasti = $('#opisObl').val();

            var oblast = { ImeOblasti: nazivOblasti, OpisOblasti: tekstOblasti, PredmetId: idPredmeta }

            $.post("DodajNovuOblast", oblast, function (data) {
                //hendler funkcija;
                $('#oblastiPredmeta').append("<div id='karticaOblast'><div id='nazivOblasti'>"+data.ImeOblasti+"</div> <article id='opisOblasti'>"+ data.OpisOblasti+"</article></div>");

              
            })

        }
    }
</script>



<div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br />
            <div><label class="lbl">Ime oblasti:</label><input id="naslovObl" type="text" class="kontrole form-control" /></div>
            <div><label class="lbl">Opis oblasti: </label><textarea id="opisObl" class="kontrole form-control"></textarea></div>
            <button id="dugmeDodaj" class="btn btn-primary" onclick="DodajNovuOblast(@Model.Id)">Dodaj</button>
        </div>
    </div>
</div>
