@model AdiutorBootstrap.Models.NovoPitanjeModel

@{
    ViewBag.Title = "NovoPitanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("//cdn.ckeditor.com/4.5.9/full/ckeditor.js")
@Styles.Render("~/Content/NovoPitanjeStilovi.css")



<form id="forma1" method="post" action="@Url.Action("DodajPitanje","NovoPitanje")">
    <h1 id="dodaj">Dodaj novo pitanje</h1>
    <div id="naslovPit">
        <h3>Unesi naslov pitanja:</h3>
        @*<input type="text" size="80" name="naslovPitanja" id="textNaslov" />*@
        @Html.TextBoxFor(m => m.NaslovPitanja, new { @name="naslovPitanja",@id="textNaslov"})
        
        @if (Model == null || Model.IdOblasti==0)
        {
            <br />
            <h3>Unesi ime oblasti:</h3>
             @*<input type="text" list="oblastiLista" onkeyup="ajaxPoziv()" id="obl" name="imeOblasti"/>*@
            @Html.TextBoxFor(m => m.NazivOblasti, new { @list="oblastiLista",@onkeyup="ajaxPoziv()",@id="obl", @name="imeOblasti"})
             
                      <datalist id="oblastiLista" >

                         </datalist>
        }
    </div>
    <div class="editor1 ">
        @*<textarea name="textarea" id="textarea"></textarea>*@
        @Html.TextAreaFor(m=>m.TekstPitanja,new{@name="textarea",@id="textarea"})

        <script>
            CKEDITOR.replace('textarea');
        </script>

        <div id="dugmeItagovi">
            <h3 id="tg">Unesi tagove:</h3>
            @*<input list="tagoviLista" name="tagovi" size="35" class="kont" id="tagsLista" onkeyup="ajaxPozivTagovi()"/>*@
            @Html.TextBoxFor(m => m.Tagovi, new { @list = "tagoviLista", @onkeyup = "ajaxPozivTagovi()", @id = "tagsLista", @name = "tagovi" })
            <datalist id="tagoviLista">


            </datalist>
            <button id="upload" class="btn btn-primary">Predaj pitanje</button>
            <br />
        </div>


        @if (Model != null)
        {
            @Html.HiddenFor(m=>m.IdOblasti)
        }



       



        <script type="text/javascript">
            {
                function myFunction() {
                    var tekst = CKEDITOR.instances.textarea.getData();
                    window.location = "Home/Pocetna";
                }


            }
        </script>


        <script type="text/javascript">
            {
                function ajaxPoziv() {
                    if ($('#obl').val().length == 1) {
                        var prvoSlovoPitanja = $('#obl').val()[0];

                        var prvoS = { PrvoSlovo: prvoSlovoPitanja }


                        $.post("VratiOblastiPoPrvomSlovu", prvoS, function (prvoS){
                            $('#oblastiLista').empty();
                            $.each(prvoS.ListaOblasti, function (index) {
                                var opcija = document.createElement("option");
                                opcija.value = prvoS.ListaOblasti[index];

                                var roditelj = document.getElementById("oblastiLista");
                               
                                roditelj.appendChild(opcija);
                                 });
                            });
                      }

                }


                function ajaxPozivTagovi() {
                    if ($('#tagsLista').val()[$('#tagsLista').val().length-1]!='#' && ($('#tagsLista').val().length==2) ) {
                        var prvoSlovoTaga = $('#tagsLista').val()[1];
                        var prvoS = { PrvoSlovo: prvoSlovoTaga }

                        if ($('#tagsLista').val()[0] == '#') {
                            $.post("VratiSveTagove", prvoS, function (data) {
                                $('#tagoviLista').empty();
                                $.each(data, function (index) {
                                    var opcija = document.createElement("option");
                                    opcija.value = "#" + data[index];

                                    var roditelj = document.getElementById("tagoviLista");
                                   
                                    roditelj.appendChild(opcija);
                                });
                            });
                        }
                    }

                   
                    if ($('#tagsLista').val()[($('#tagsLista').val().length) - 3] ==' ' && $('#tagsLista').val()[$('#tagsLista').val().length - 2] == '#')
                    {
                        //ako je blanko pretposlednji uneti znak, a poslednji #, znaci da kucamo sledeci tag
                        
                        var uneseniTagovi1 = $('#tagsLista').val();
                        
                        var uneseniTagovi = uneseniTagovi1.substring(0, uneseniTagovi1.length - 1);

                        var prvoSlovoTaga = $('#tagsLista').val()[$('#tagsLista').val().length-1];
                        var prvoS = { PrvoSlovo: prvoSlovoTaga }

                        $.post("VratiSveTagove", prvoS, function (data) {
                            $('#tagovLista').empty();
                            $.each(data, function (index) {
                                var opcija = document.createElement("option");
                                opcija.value = uneseniTagovi + data[index];

                                var roditelj = document.getElementById("tagoviLista");
                               
                                roditelj.appendChild(opcija);

                            });
                         });

                        


                    }

                }

                function PredloziTag()
                {
                    //ova funkcija treba da pokrene bootstrap modal
                    var imeTaga = $('#nameOfTag').val();
                    var tagIme = $('#tagName').val();
                    var opisTaga = $('#tagDescription').val();


                    var model = {Ime:imeTaga, Opis:opisTaga, TagIme:tagIme};

                    $.post("/Tagovi/PredloziTag", model, function (data) {
                       
                        $('#mdl').modal('hide');


                    });
                }

                //$('#mdl').on('show.bs.modal', function () {
                //    $(this).find('.modal-body').css({
                //        width: 'auto', //probably not needed
                //        height: 'auto', //probably not needed 
                //        'max-height': '100%',
                //        'max-width':'80%'
                //    });
                //});

            }
        </script>


    </div>

</form>

<div id="upl"><label class="nnt"><h3>Niste našli odgarajući tag?</h3></label><button id="upload" class="btn btn-danger" @*onclick="PredloziTag()"*@ data-toggle="modal" data-target=".bs-example-modal-sm">Predloži novi tag</button></div>


<div id="mdl" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br />
            <div><label class="lbl">Ime taga:</label><input id="nameOfTag" type="text" class="kontrole form-control"/></div>
            <div><label class="lbl">Skraćeno ime taga: </label><input id="tagName" type="text" class="kontrole form-control" /></div>
            <div><label class="lbl">Opis taga: </label><textarea id="tagDescription" class="kontrole form-control"></textarea></div>
            <button id="dugmeDodaj" class="btn btn-primary" onclick="PredloziTag()">Predlozi</button>
        </div>
    </div>
</div>



@*<div id="mdl1" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h4>Napravili ste neku grešku u unosu,
             molimo Vas,
             proverite da li su sva polja uredno popunjena.</h4>
        </div>
    </div>
</div>*@

    


@if (Model!=null)
{
    if (Model.Greska == true)
    { 
    @*<script type="text/javascript">
        {
            $(document).ready(function () {
                $("#myModal").modal('show');
            });
        }
    </script>*@
    }
}